
.pb-20{
    padding-bottom: 1.25rem !important;
}

.mb-15{
    margin-bottom: 0.9375rem !important;
}

.mb-20{
    margin-bottom: 1.25rem !important;
}
.mb-30{
    margin-bottom: 1.875rem !important;
}

.mb-80{
    margin-bottom: 5rem !important;
}
.mt-20{
    margin-top: 1.25rem !important;
}

.p-20{
    padding: 1.25rem !important;
}

.pl-20{
    padding-left: 1.25rem !important;
    body.rtl &{
        padding-left: 0 !important;
        padding-right: 1.25rem !important;
    }
}
.pl-40{
    padding-left: 40px !important;
    body.rtl &{
        padding-left: 0 !important;
        padding-right: 40px !important;
    }
}
.ml-20{
    margin-left: 1.25rem !important;

    body.rtl &{
        margin-left: 0 !important;
        margin-right: 1.25rem !important;
    }
}
.mr-30{
    margin-right: 1.875rem !important;
    body.rtl &{
        margin-right: 0 !important;
        margin-left: 1.875rem !important;
    }
}

.px-3-tablet{
    @include mq("tablet","max") { 
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}

.pl-0-phablet{
    @include mq("phablet","max") { 
        padding-left: 0;
        body.rtl &{
            padding-left: initial;
            padding-right: 0;
        }
    }
}
.w-sm-60{
    @include mq("phablet", "min") { 
        width: 60% !important;
    }
}

.text-underline{
    text-decoration: underline !important;
}
.p-relative{
    position: relative !important;
}
.cursor-p{
    cursor: pointer;
}
.text-nowrap{
    white-space: nowrap;
}
.text-left{
    text-align: left;
    body.rtl &{
        text-align: right;
    }
}
.text-right{
    text-align: right;
    body.rtl &{
        text-align: left;
    }
}
.sticky-bottom{
    position: sticky;
    bottom: 0; 
    z-index: 1020;
}
.m-box{
    display: flex;
    height: 130px;
    box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
}
.w-48{
    width: 48%;
}
.isHidden{
    display: none !important;
}
.box{
    box-shadow: 0 0 7.3px 1.7px rgba(0, 0, 0, 0.1);
}
.top-0{
    top: auto !important;
}
.s-border{
    position: relative;
    &::before{
        content: "";
        width: 10px;
        height: 50px;
        background-color: $primary;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

// shared classes
.blue-circle{
    display: flex;
    align-items: center;
    &::before{
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        background-color: #5EC9E2;
        border-radius: 50%;
        margin-right: 7px;
        body.rtl &{
            margin-right: 0;
            margin-left: 7px;
        }
    }
}

.fit-cover{
    object-fit: cover;
}



