
%btn-style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    min-height: 42px !important;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    text-transform: capitalize;
    &.sm-btn {
      min-height: 30px !important;
      padding: 0 10px;
      font-size: 12px;
    }
    &.md-btn {
      padding: 0 10px;
      font-size: 15px;
    }
    &.rounded{
        border-radius: 30px !important;
    }
    &.lg-btn{
        min-height: 54px !important;
        font-size: 18px;  
        font-weight: 500;
        padding: 0 20px !important;
    }
    @include mq("phablet") { 
      padding: 0 14px;
    } 
  }
  
  $btn-list: (
    (primary, $primary, $white, false, true),
    (primary-dark, $primary-3, $white, false, true),
    (secondary, $secondary, $white, false, true),
    (whatsapp, #55CD6C, $white, false, false),
    (yellow, #F7CB14, $primary, false, false),
    // (grayscale, $gray-6, $white, true, true), 
  );
  
  @each $btn-name, $bg-color, $color, $has-hover, $has-outline in $btn-list {
    .#{$btn-name}-fill {
      @extend  %btn-style;
      background-color: $bg-color;
      color: $color;
      @if $has-hover {
        &:hover {
          background-color: $color;
          color: $bg-color;
          border: 1px solid $bg-color; 
        }
      }@else{
        &:hover, &:focus{
          background-color: $bg-color;
          color: $color;
        }
      }
    }
    @if $has-outline {
      .#{$btn-name}-outline {
        @extend  %btn-style;
        background-color: #fff;
        color: $bg-color;
        border: 1px solid $bg-color;
        &:hover {
          color: #fff;
          background-color: $bg-color;
        }
      }
    }
  }
