.card {
  outline: none;
  &.product-card {
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(194, 193, 193, 0.09);
    border: solid 1px rgba(222, 222, 222, 0.51);
    border: none; 
    background-color: #ffffff;
    padding: 13px 0 17px 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: inherit !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
      padding-bottom: 15px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.33;
      text-align: center;
      color: $dark-glow; 
      width: 100%;
      min-height: 50px;
      // max-height: 50px;
      // overflow: hidden; 
      margin-bottom: 4px; 
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 2;
      // text-overflow: ellipsis;
      @include mq("tablet"){
        font-size: 16px;
      }
    }
    .price { 
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 500; 
      line-height: 1.33;
      text-align: center;
      color: $primary;
      padding-top: 10px;
      padding-bottom: 15px;
      @include mq("tablet"){
        font-size: 17px;
      }
    }
    article {
      font-size: 12px;
      line-height: 1.6;
      text-align: center;
      color: #707070;
    }
    .product-action-btn {
      .primary-rounded,
      .yellow-rounded{
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .primary-rounded{
        margin-bottom: 0 !important;
      }
    }
      .brand{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 6px;
       h5{
           min-height: auto;
           max-height: unset;
           font-size: 16px;
           width: auto;
           body.rtl &{
               margin-right: 0;
               margin-left: 5px;
           }
       }
       img{
         width: 100px !important;
         object-fit:contain;
         padding-bottom: 0;
         min-height: 42px; 
       }
      }
      .categories{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 6px;
       h5{
           min-height: auto;
           max-height: unset; 
           font-size: 16px;
           width: auto;
           margin-right: 5px;
           body.rtl &{
               margin-right: 0;
               margin-left: 5px;
           }
       }
       p{
           font-size: 16px;
           color : $primary;
       }
      }
  }
  &.company-card {
    padding: 10px 25px 10px 25px;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(194, 193, 193, 0.09);
    border: solid 1px rgba(222, 222, 222, 0.51);
    border: none;
    background-color: #ffffff;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 5px;
    height: fit-content !important;
    min-height: 480px;
    .img-holder{
      @include avatar(180px); 
      margin: auto;
      > img {
        padding-bottom: 15px;
      }
      @include mq("tablet") {
        width: auto;
        height: auto;  
        max-width: 150px;
        max-height: 150px;
      }
    }
    h5 {
      color: $dark-glow;
      line-height: 1.5;
      font-size: 16px;
      font-weight: normal;
      min-height: 50px;
      text-align: center;
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .details {
      margin-top: 20px;
      body.rtl &{
        direction: rtl;
      }
      > * {
        font-size: 14px;
        display: flex;
        align-items: center;
        color: $dark-glow;
        line-height: 1.37;
        min-height: 27px;
      }
      img {
        width: 24px;
        margin-right: 15px;
        body.rtl &{
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
    @include mq("ipad") {
      padding: 4px 14px 10px 14px;
      min-height: auto;
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  &.brand-card {
    padding: 10px 40px 30px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(194, 193, 193, 0.09);
    border: solid 1px rgba(222, 222, 222, 0.51);
    border: none;
    background-color: #ffffff;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 5px;
    > img {
      width: 100%;
      padding-bottom: 15px;
    }
    .details {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      > div {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.37;
        color: $dark-glow;
        img {
          margin-right: 5px;
          width: 14px;
        }
        &.name {
          flex-direction: row-reverse;
          img {
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.vat-including{
  font-style: 14px;
  text-align: center;
  color : gray; 
}

